
/* google-map*/
.google-map {
  height: 400px;
}

/* bulma cards on index.js page*/
.card{
  height: 100%;
  width: 100%;
  border-style: outset;
  border-color: #AD974F;
}

.card:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* index page background styling*/     // rgb(25,25,112) #191970;

body{
  background: linear-gradient(#1488cc, #191970);
  .stars {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}
}
/* text color*/
.subtitle{
  color: white;
}

.title{
  color: white;
}

.field{
  color: white;
}

.image{
  height: 500px;
  width: 500px;
}
