
/* google-map*/
.google-map {
  height: 400px;
}

/* bulma cards on index.js page*/
.card {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  border-style: none;
  background-color: #fe8a71;
  .image {
    display: flex;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.card:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* index page background styling*/

body {
  background: linear-gradient(to bottom right, #0e9aa7, #3da4ab);
  font-family: 'Russo One', sans-serif;
  .stars {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    z-index:0;
  }
}

/* text color*/
.subtitle {

  color: black;
  text-align: left;
}

.title {
  color: black;
}

.field {
  color: white;
}

/* show page*/
.top-image {
  display: flex;
  height: 500px;
  width: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}
h4 {
  text-align: center;
}

.heading {
  background: hsl(348, 100%, 61%);
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-size: 30px;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#mc-embedded-subscribe {
  background: hsl(348, 100%, 61%);
}

.paypal {
  height: 100px;
  width: 100px;
  margin-top:60px;
}


/* form text */
.label {
  color:white;
}

.homepage {
  background-color: black;
  img {
    opacity: 0.25;
    height: 600px;
    width: 1800px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.button {
  background-color: #f6cd61;
}

.mc_embed_signup {
  background: #fff;
  clear:left;
  font-size:14px;
  font-family: Helvetica,Arial,sans-serif;
   width:100%;
}
.carousel-card {
  height: 320px;
  width: 500px;
  .image{
    display: flex;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.slick-slide > div {
    margin: 0 10px;
}

/* footer */

a {
  color: #FFF;
}

a:hover {
  color: #00F;
}

.footer {
  background-color: #051e3e;
  // opacity: 0.25;
  color: white;

  .icon {
    margin: 10px;
  }
}

.footer-info {
  color: #f6cd61;
}

.navbar {
  background-color: #4a4e4d;
}

.navbar-item {
  color: #f6cd61;
  padding: 30px 35px;
  font-size: 20px;
}

.control {
  width: 30%;
  display: inline;
}

.filters {
  width: 40%;
  display: inline;

}

.tm-search {
  width: 30%;
  height: 36px;
}

.suggestion {
  width: 30%;
  height: 36px;
}

.email, .password, .username, .passwordConfirmation {
  color: black;
}
